body{
    text-align: center;
}

p.linhas{
    color: blue;
}

p.mote{
    color: red;
}
/* "." seleciona as classes */
.container {
    overflow: hidden;
}
.floatLeft {
    width: 50%;
    float: left;
}

.floatRight {
    width: 50%;
    float: right;
}

/* "#" seleciona os id */

/* Todos os customers */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* apenas os customers th */
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/* os customers td e th */
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* os customers tr pares começando do começo */
#customers tr:nth-child(even) {
    background-color: #1226de;
}

/* os customers tr impares começando do começo */
#customers tr:nth-child(odd) {
    background-color: #bd1e1e;
}
/* os customers tr com o mouse estiver sobre */
#customers tr:hover {
    background-color: #10d520;
}



/* 
Adaptado de Vinicius disponível em
https://github.com/ViniciusMaiaM/Pweb/blob/main/exercises/firstUnit/recipe2/style.css
*/

a {
    color: blue;
    text-decoration: none;
}
a::selection{
    color: rgb(126, 0, 0);
}
a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

.poeta > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
